<header>
    <h1>Fulanito de Tal y Porcuera</h1>
    <nav>
        <ul>
            <li>
                <a href="#start">Generalidades</a>
            </li>
            <li>
                <a href="#logros">Logros</a>
            </li>
            <li>
                <a href="#formacion">Instructor</a>
            </li>
            <li>
                <a href="#contacto">Contacto</a>
            </li>
        </ul>
    </nav>
</header>